@model QLTrungTamTiemChung.Areas.Admin.Models.EntityFramework.NhanVien

@{
    ViewBag.Title = "Thêm mới";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@if (TempData["thongbao"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <strong>@TempData["thongbao"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon edit"></i><span class="break"></span>Thêm nhân viên</h2>
        </div>
        <div class="box-content">
            @using (Html.BeginForm("Create", "NhanVien", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="control-group">
                    <label class="control-label" for="HoTen">Tên nhân viên</label>
                    <div class="controls">
                        <input class="input-xlarge focused" name="HoTen" id="HoTen" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="Luong">Lương</label>
                    <div class="controls">
                        <input class="input-xlarge focused" name="Luong" id="Luong" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="ChucVu">Chức vụ</label>
                    <div class="controls">
                        <input class="input-xlarge focused" name="ChucVu" id="ChucVu" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="PhongBan">Phòng ban</label>
                    <div class="controls">
                        <input class="input-xlarge focused" name="PhongBan" id="PhongBan" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="NgaySinh">Ngày sinh</label>
                    <div class="controls">
                        <input class="input-xlarge focused" name="NgaySinh" id="NgaySinh" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="GioiTinh">Giói tính</label>
                    <div class="controls">
                        <input class="input-xlarge focused" name="GioiTinh" id="GioiTinh" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="DiaChi">Địa chỉ</label>
                    <div class="controls">
                        <input class="input-xlarge focused" name="DiaChi" id="DiaChi" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="selectError3">Cơ sở</label>
                    <div class="controls">
                        @Html.DropDownList("MaCoSo", (IEnumerable<SelectListItem>)ViewBag.DanhSachCoSo, new { @class = "form-control" })
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="selectError3">Người dùng</label>
                    <div class="controls">
                        @Html.DropDownList("MaND", (IEnumerable<SelectListItem>)ViewBag.DanhSachNguoiDung, new { @class = "form-control" })
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Thêm mới" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div><!--/span-->

</div><!--/row-->
